.add-product-container{
  padding:30px;
}

.product-form{
  display:flex;
  flex-direction:column;
  max-width:500px;
  gap:15px;
}

.product-form input,
.product-form select,
.product-form textarea{
  padding:10px;
  border:1px solid #ccc;
  border-radius:6px;
}

.product-form textarea{
  height:100px;
}

.product-form button{
  padding:12px;
  background:#ff9800;
  color:white;
  border:none;
  border-radius:6px;
  cursor:pointer;
  font-weight:bold;
}

.product-form button:hover{
  background:#e68900;
}