.admin-container{
  display:flex;
}

.admin-main{
  margin-left:230px;
  width:100%;
}

.dashboard-content{
  padding:30px;
}

.stats-container{
  display:flex;
  gap:20px;
  margin-top:20px;
}

.recent-orders{
  margin-top:40px;
}

table{
  width:100%;
  border-collapse:collapse;
}

table th, table td{
  border:1px solid #ddd;
  padding:10px;
  text-align:center;
}

.product-header{
  display:flex;
  justify-content:space-between;
  margin-bottom:20px;
}

.search-box{
  padding:8px;
  width:250px;
}

.add-btn{
  padding:8px 15px;
  background:orange;
  border:none;
  color:white;
  cursor:pointer;
}

.product-table{
  width:100%;
}