.cart-page{
padding:40px;
background:#f4f6fb;
min-height:100vh;
}

/* CART LAYOUT */
.cart-layout{
display:flex;
gap:30px;
align-items:flex-start;
}

/* LEFT CART TABLE */
.cart-table{
flex:3;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.cart-table table{
width:100%;
border-collapse:collapse;
}

.cart-table th{
background:#fafafa;
font-weight:600;
}

.cart-table th,
.cart-table td{
padding:15px;
border-bottom:1px solid #eee;
text-align:left;
}

/* PRODUCT INFO */
.product-info{
display:flex;
align-items:center;
gap:12px;
}

.product-info img{
width:55px;
height:55px;
border-radius:6px;
object-fit:cover;
border:1px solid #eee;
}

/* QUANTITY BOX */
.qty-box{
display:flex;
gap:10px;
align-items:center;
}

.qty-box button{
padding:5px 12px;
border:none;
background:#eee;
cursor:pointer;
border-radius:4px;
font-size:16px;
}

.qty-box button:hover{
background:#ddd;
}

.qty-box span{
font-weight:600;
}

/* REMOVE BUTTON */
.remove-btn{
background:#e65c00;
color:white;
border:none;
padding:6px 10px;
cursor:pointer;
border-radius:4px;
font-size:14px;
}

.remove-btn:hover{
background:#e65c00;
}

/* RIGHT SUMMARY BOX */
.cart-summary{
flex:1;
background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
}

.cart-summary h3{
margin-bottom:20px;
}

/* SUMMARY ROWS */
.summary-row{
display:flex;
justify-content:space-between;
margin-bottom:10px;
font-size:15px;
}

.summary-total{
display:flex;
justify-content:space-between;
font-weight:bold;
font-size:18px;
margin-top:10px;
}

/* CHECKOUT BUTTON */
.checkout-btn{
width:100%;
padding:12px;
background:#e65c00;
color:white;
border:none;
margin-top:20px;
cursor:pointer;
font-size:16px;
border-radius:6px;
transition:0.3s;
}

.checkout-btn:hover{
background:#e65c00;
}

/* PROMO BOX */
.promo-box{
margin-top:25px;
}

.promo-box h4{
margin-bottom:10px;
}

.promo-box input{
width:65%;
padding:8px;
border:1px solid #ddd;
border-radius:4px;
}

.promo-box button{
padding:8px 15px;
margin-left:5px;
background:#333;
color:white;
border:none;
border-radius:4px;
cursor:pointer;
}

.promo-box button:hover{
background:#000;
}


/* EMPTY CART DESIGN */
.empty-cart{
background:white;
padding:70px;
text-align:center;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,0.05);
margin-top:30px;
}

.empty-icon{
font-size:70px;
color:#bbb;
margin-bottom:20px;
}

.empty-cart h2{
margin-bottom:10px;
font-size:24px;
}

.empty-cart p{
color:#777;
margin-bottom:20px;
}

.shop-btn{
background:#e65c00;
color:white;
border:none;
padding:12px 25px;
font-size:16px;
border-radius:6px;
cursor:pointer;
transition:0.3s;
}

.shop-btn:hover{
background:#e65c00;
}


/* RESPONSIVE DESIGN */
@media (max-width:900px){

.cart-layout{
flex-direction:column;
}

.cart-summary{
width:100%;
}

.cart-table{
width:100%;
}

.promo-box input{
width:100%;
margin-bottom:10px;
}

.promo-box button{
width:100%;
margin-left:0;
}

}