.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 30px;
  background: white;
  border-bottom: 1px solid #ddd;
}

/* LEFT */
.logo-img {
  height: 50px;
}

/* CENTER */
.nav-center h2 {
  font-size: 18px;
  color: #b84a2c;
  font-weight: 600;
}

/* RIGHT */
.nav-right {
  display: flex;
  align-items: center;
  gap: 25px;
}

/* LINKS */
.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.nav-links a:hover {
  color: #b84a2c;
}

/* ICONS */
.nav-icons {
  display: flex;
  gap: 15px;
  font-size: 20px;
}

.nav-icons a {
  color: #333;
}

.nav-icons a:hover {
  color: #b84a2c;
  transform: scale(1.2);
}