.register-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f5d0b5;
}

.register-box {
  width: 350px;
  padding: 30px;
  background: #1e1e1e;
  border-radius: 10px;
  color: white;
}

.register-box h2 {
  text-align: center;
  margin-bottom: 20px;
}

.register-box input,
.register-box textarea {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid orange;
  border-radius: 5px;
  background: transparent;
  color: white;
}

.register-box button {
  width: 100%;
  padding: 10px;
  background: orange;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.register-box button:hover {
  background: darkorange;
}